{% macro displayquote(quote_list)%}
    {%for quote in quote_list%}
        <div class="col-xs-12 col-sm-4 col-md-6 mx-auto col-lg-4 review-card">
            <div class="well well-lg">
                <h4>{{quote.quote_title}}</h4>
                <p>{{quote.quote_content| truncate(100)}}</p>
                
                <p>Written by:  {{quote.user.username}} <a href="/quote/{{quote.id}}" class="btn btn-primary pull-right">Read</a>
                    <a class="btn btn-success btn-sm m-1 pull-right" href="{{url_for('main.quote',id = quote.id)}}">Comment</a>
                 </p>
            </div>
        </div>
    {%endfor%}
{%endmacro%}

{%macro displayComments(comments_list)%}
    {%for comment in comments_list%}
        <div class="col-md-12">
            <h5>{{comment.user.username}}</h5>
            <p>{{comment.comment}}</p>
        </div>
    {%endfor%}
{%endmacro%}
